<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.sr-button'">
				<h2 class="section-heading">{{about.heading}}</h2>
				<hr class="light">
				<p class="text-faded">{{about.introText}}</p>
				<p class="text-faded">{{about.abtPassionText}}</p>
				<a href="#services" pageScroll class="page-scroll btn btn-default btn-xl sr-button">Know More!</a>
			</div>
		</div>
	</div>
</section>